body { font-size:12pt; color:black; background-color:white}
h1 {font-size:20pt; font-weight:bold}
h2 {font-size:16pt; font-weight:bold}
h2 a {font-size:16pt; font-weight:bold}
h3 {font-size:12pt; font-weight:bold}
h3 a {font-size:12pt; font-weight:bold}
em { font-size:12pt}
td { font-size:12pt }
th { font-size:12pt }
li { font-size:12pt }
a  { font-size:12pt }
